* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.welcome-menu {
  display: flex;
}

body {
  /* padding: 30px; -> For all could we move the padding to the actual container being targeted? */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  font-weight: bold;
  font-size: 36px
}

.subtitle {
  font-weight: bold;
  font-size: 24px
}



input {
  width: 100%;
  height: 60px;
  border: 2px solid black;
  border-radius: 12.5px;
  font: 10px !important;
  padding: 10px !important;
  margin: 10px 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/* Welcome Page */

.welcome-round-logo {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
}

.welcome {
  height:90vh
}

#sign-in-corner {
  border-top-left-radius: 14px;
}

#register-corner {
  border-top-right-radius: 14px;
}

.welcome-body {
  height: 90vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /* overflow: hidden; */
}

#forgot {
  justify-self: end;
  flex-grow: 2;
  text-align: right;
}

.left {
  
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.welcome-image {
  height: 60vh;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-image: url('https://i.pinimg.com/564x/4c/2b/81/4c2b811fd0c07a8c79921f246786c87d.jpg');
}

.socials {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.auth-view {
  display: flex;
  flex-direction: row;
  /* flex-flow: column; */
  justify-content: space-evenly;
  align-items: center;
  height: 70vh !important;
  padding: 20px;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: auto;
}

.social-icon {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
}

.welcome-auth-view {
  
  height: 80vh;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 50px;
}

.welcome-auth-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tab {
  width: 100%;
  display: flex
}


.tab-bar {
  width: 50%;
  border-bottom: 2px solid black;
}

.tab-bar:hover, .social-icon:hover {
  background-color:black;
  color: white;
  cursor: pointer
}

.tab-bar button {
  text-align: center;
  width: 100%;
  padding: 15px;
}

.welcome-auth-buttons>button {
  padding: 15px;
  font-size: 20px;
}

hr {
  color: black;
  border: 2px solid black;
}

.welcome-auth-inner-view {
  height: 75vh;
}


/* Register Page */

.register-input {
  width: 478px;
  height: 68px;
  border: 2px solid black;
  border-radius: 145px;
  margin-top: 15px;
  color: black;
  font-size: 18px;
}

.register-agreement {
  margin: 12px 0px 12px;
}

.custom-btn {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  color: white;
  background-color: black !important;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

input[type='date']:after {
  content: attr(placeholder)
}

/* Left Navbar */

/* .main-left-container{
  width: 81px;
  height: 100px;
  border: 1px solid black;
  border-radius: 48px;
} */

.menu {
  position: fixed;
  top: 141px;
  left: 31px;
  width: 79px;
  height: 400px;
  background: #eeeeee;
  font-size: 16px;
  font-family: sans-ferif;
  border: 1px solid black;
  border-radius: 48px;
}

.menu__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  text-decoration: none;
  color: #666666;
  transition: background 0.3s;
}

.menu__item > i {
  font-size: 2.2em;
}

.menu__item--active {
  color: #000000;
  background: #dddddd;
  border-radius: 48px;
  border: 1px solid black;
}

.menu__item:hover {
  background: #dddddd;
  border-radius: 48px;
}

.menu__item::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  
  left: 100%;
  content: attr(data-tooltip);
  
  margin-left: 15px;
  
  white-space: nowrap;
  
  padding: 7px 12px;
  
  font-size: 0.9em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: #fff;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.menu__item:hover::after {
  opacity: 1;
  visibility: visible;
}


/* Right Navbar */

.main-right-container{
  width: 305px;
  height: 530px;
  border: 1px solid black;
  border-radius: 48px;
}


/* Main feed */

.main-feed{
  width: 824px;
  height: 564px;
  border: 1px solid black;
  border-radius: 48px;
}


